*.bak
binaries/
*/build/
build_logs/
*/.classpath
dependency-reduced-pom.xml
.DS_Store
*/.gitignore
.idea
*.iml
*.ipr
*.iws
*.log
*.patch
.project
.settings/
settings.xml
**/*/src/main/generated
.*.swp
**/*/target
target/

